{
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  },
  "presets": [
    "react-app"
  ],
  "plugins": [
    ["import", {
      "libraryName": "lodash",
      "libraryDirectory": "",
      "camel2DashComponentName": false
    }, "lodash" ]
  ]
}
