@import '~styles/_colors';
@import '~styles/_variables';

.modal-loggedout-layout {
  display: flex;
  width: 324px;
  height: 175px;
  padding: 22px 26px;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
  
  .loggedout-head {
    font-family: $font-condensed-bold;
    font-size: 22px;
    margin-bottom: 8px;
  }

  .loggedout-content {
    flex-grow: 2;
  }
}
