$color-green: #03B102;
$color-white: #fff;
$color-pitch-black: #000;

$color-gray-ultralight: #F9F9F9;
$color-gray-light: #f0f0f0;
$color-gray-regular: #EBEBEB;
$color-gray-medium: #dddddd;
$color-gray-semihigh: #656565;
$color-gray-high: #25262b;
