@import '~styles/_colors.scss';

$switch-size: 26px;

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;

  .ico {
    color: white;
    font-size: 10px;
  }

  .checkbox-label {
    margin-left: 6px;
  }
}