@import '~styles/colors';
@import '~styles/variables';

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  transition: all 0.4s linear;

  .login-input {
    margin-bottom: 6px;
    margin-left: 0;

    .input-inside {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  .submit-btn {
    margin-bottom: 8px;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding: 20px 23px;
    font-size: 14px;
    justify-content: space-between;
    font-family: $font-standard-thin;
  }

  .error-msg {
    transition: all 0.4s linear;
    font-size: 12px;
    color: $color-red;
    text-align: right;
    margin-bottom: 4px;
  }

  .forgot {
    font-family: $font-standard-regular;
    font-size: 14px;
    text-align: right;
    color: $color-dark-green;
    cursor: pointer;
  }
}
