@import '~styles/colors';
@import '~styles/variables';

.suggestion-menu {
  background-color: $color-gray-light;
  max-height: 110px;
  border-radius: 4px;
  border: 1px solid $color-gray-medium;

  .suggestion-item {
    padding: 8px 12px;
    cursor: pointer;

    &:hover {
      background-color: $color-gray-ultralight;
    }
  }

  .highlighted {
    background-color: $color-gray-ultralight;
  }
}
