$color-black-primary: #2e2e2e;
$color-black-header: #1b1d21;
$color-black-secondary: #24252a;

$color-green: #03B102;
$color-dark-green: #008624;
$color-medium-green: #a6e4b7;
$color-light-green: #f1f9f3;

$color-white: #fff;
$color-pitch-black: #000;

$color-red: #D90004;
$color-orange: #FF5000;

$color-gray-ultralight: #F9F9F9;
$color-gray-light: #f0f0f0;
$color-gray-regular: #EBEBEB;
$color-gray-medium: #dddddd;
$color-gray-semihigh: #656565;
$color-gray-high: #25262b;
