$font-condensed-black: GT-America-Condensed-Black;
$font-condensed-bold: GT-America-Condensed-Bold;
$font-condensed-light: GT-America-Condensed-Light;
$font-condensed-medium: GT-America-Condensed-Medium;
$font-condensed-regular: GT-America-Condensed-Regular;
$font-condensed-thin: GT-America-Condensed-Thin;
$font-condensed-ultra-light: GT-America-Condensed-Ultra-Light;

$font-standard-black: GT-America-Standard-Black;
$font-standard-bold: GT-America-Standard-Bold;
$font-standard-light: GT-America-Standard-Light;
$font-standard-medium: GT-America-Standard-Medium;
$font-standard-regular: GT-America-Standard-Regular;
$font-standard-thin: GT-America-Standard-Thin;
$font-standard-ultra-light: GT-America-Standard-Ultra-Light;
